<context>
Current date: {{ date }}
</context>

<instructions>
Come up with a few things I could do today to make progress on my goals.
Give concise, simple, clear, and actionable suggestions.
Each suggestion should be something specific that I can accomplish *today*, not a general or long-term task.
Separate each suggestion with a newline.
Do NOT number the suggestions.
</instructions>

<content>
{% for goal in goals %}
Goal: {{ goal.title }}
{{ goal.description }}
{% endfor %}
</content>