<instructions>
- Develop a strategy to accomplish the following goal.
- Decide if the goal is complex and needs to be achieved in progressive *phases*, or if it's simple and can be achieved by repetitive actions.
- Provide high level descriptions without excessive detail.
- Do NOT mention my current progress.
- At the end, mention any constraints or preferences that I have indicated.
</instructions>

<content>
Goal: {{ goal.title }}
Description: {{ goal.description }}
Initial progress: {{ goal.initial_progress }}
Strategy guidelines: {{ goal.strategy_guidelines }}
</content>